<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap"
    rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.js"
    integrity="sha512-8WAv/Z7UaDv0U1DCJ3W1oul76HOvq2/9mc+IbOZGsTj9iwZnnCXL/0FS6GQKNR++krdfVn9kuAAQ6v2DqZ9uEQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../css/style.css" />
  <title>CARDAPP: Bienvenido</title>
</head>

<body>
  <header>
    <h1 id="bienvenida">CARDAPP</h1>

    <div class="links-header-administrador">
      <a class="link agregar-empleado" href="">Registrar Empleado</a>
      <a class="link lista-empleados" href="">Listar Empleados</a>
      <a class="btn-cerrar-sesion" href="../index.html">Cerrar Sesión</a>
    </div>
  </header>

  <section class="section-administrador">
    <!-- SECTION PARA AGREGAR EMPLEADOS -->
    <div id="agregar-empleado" class="sections-administrador">
      <form>
        <h2>Registrar Empleado</h2>
        <div class="contenedor-inputs">
          <label for="nombre">
            *Nombre <br>
            <input type="text" name="nombre" id="nombre">
          </label>

          <label for="cedula">
            *Cedula <br>
            <input type="text" name="cedula" id="cedula">
          </label>

          <label for="correoCorporativo">
            *Correo Institucional<br>
            <input type="email" name="correoCorporativo" id="correoCorporativo">
          </label>

          <label for="telefono">
            *Telefono <br>
            <input type="number" name="telefono" id="telefono">
          </label>

          <label for="direccion">
            *Direccion <br>
            <input type="text" name="direccion" id="direccion">
          </label>

          <label for="cargo">
            *Cargo <br>
            <input type="text" name="cargo" id="cargo">
          </label>

          <label for="jefe">
            *Jefe Inmediato <br>
            <input type="text" name="jefeInmediato" id="jefeInmediato">
          </label>


          <label for="pais">
            *Pais <br>
            <input type="text" name="pais" id="pais">
          </label>
        </div>

        <label class="terminos" for="terminos-y-condiciones">
          <input type="checkbox" name="terminos-y-condiciones" id="terminos-y-condiciones">
        </label>

        <input class="btn-registrar-empleado" type="submit" value="Registrar">
      </form>
    </div>

    <!-- SECTION PARA LISTAR EMPLEADOS -->
    <div id="lista-empleados" class="sections-administrador">
      <div class="contenedor-tabla">
        <h2>Lista de Empleados</h2>
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Correo Corporativo</th>
              <th>Telefono</th>
              <th>Cargo</th>
              <th>Jefe Inmediato</th>
              <th>Pais</th>
              <th>Estado</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody class="tbody">

          </tbody>
        </table>
      </div>
    </div>

    <div id="detalle-empleado" class="sections-administrador">
      <form class="formulario-datalle-empleado">
        <div>
          <h2>Detalle <span id="nombreEmpleadoTitulo"></span></h2>
        </div>
        <div class="contenedor-contenido">
          <div class="contenedor-imagen">
            <img src="../icons/empleado.png" alt="Empleado">
          </div>

          <div class="contenedor-informacion">
            <h2>Información</h2>
            <div class="contenedor-inputs">

              <label for="idEmpleado">
                ID <br />
                <input class="input-focus" type="text" name="idEmpleado" id="idEmpleado" required readonly />
              </label>

              <label for="nombreEmpleado">
                Nombre <br />
                <input class="input-focus input-disabled" type="text" name="nombreEmpleado" id="nombreEmpleado"
                  required />
              </label>

              <label for="cedulaEmpleado">
                Cedula <br />
                <input class="input-focus input-disabled" type="number" name="cedulaEmpleado" id="cedulaEmpleado"
                  required />
              </label>

              <label for="correoCorporativoEmpleado">
                Correo Corporativo <br />
                <input class="input-focus input-disabled" type="text" name="correoCorporativoEmpleado"
                  id="correoCorporativoEmpleado" required />
              </label>

              <label for="telefonoEmpleado">
                Telefono <br />
                <input class="input-focus input-disabled" type="number" name="telefonoEmpleado" id="telefonoEmpleado"
                  required />
              </label>

              <label for="direccionEmpleado">
                Direccion <br />
                <input class="input-focus input-disabled" type="text" name="direccionEmpleado" id="direccionEmpleado"
                  required />
              </label>

              <label for="cargoEmpleado">
                Cargo <br />
                <input class="input-focus input-disabled" type="text" name="cargoEmpleado" id="cargoEmpleado"
                  required />
              </label>

              <label for="jefeInmediatoEmpleado">
                Jefe Inmediato <br />
                <input class="input-focus input-disabled" type="text" name="jefeInmediatoEmpleado"
                  id="jefeInmediatoEmpleado" required />
              </label>

              <label for="paisEmpleado">
                Pais <br />
                <input class="input-focus input-disabled" type="text" name="paisEmpleado" id="paisEmpleado" required />
              </label>

              <label for="estadoEmpleado">
                Estado <br />
                <input class="input-focus input-disabled" type="text" name="estadoEmpleado" id="estadoEmpleado"
                  required />
              </label>
            </div>
            <div class="contenedor-opciones">
              <button class="btn-regresar">Regresar</button>
              <button class="btn-editar">Editar</button>
              <button class="btn-actualizar">Actualizar</button>
            </div>
          </div>
        </div>
      </form>
    </div>


  </section>

  <script src="../js/script.js" type="module"></script>
  <script src="../js/administrador.js" type="module"></script>
</body>

</html>